extends page

block content

  h1 Frequently Asked Questions

  ul.unstyled(style='margin-bottom:30px')
    li
      a(href='#language') What is the official language of Technion 3DS?
    p
    li
      a(href='#what-happens') What happens at 3DS?
    li
      a(href='#what-do-i-get') If I participate, what do I get out of the event?
    li
      a(href='#discipline-distribution') How many people do you invite into the event? Which disciplines do they typically come from?
    li
      a(href='#major') I&#8217;m a student majoring in X. Should I even consider applying?
    li
      a(href='#team-application') We are a number of students who are a team. Can we apply as one?
    li
      a(href='#non-technion') Can non Technion students apply?
    p
    li
      a(href='#schedule') What does the event schedule look like?
    li
      a(href='#accomplishment') How much can you really accomplish in 3 days?
    li
      a(href='#food-and-sleep') What about food? Sleep?
    li
      a(href='#endpoint') What happens at the end of the event?
    p
    li
      a(href='#how-to-get-ideas') How do you get good ideas for startups?
    li
      a(href='#selecting-idea') Any pointers on selecting a startup idea?
    li
      a(href='#stolen') I have a great idea or invention. I&#8217;m worried about it being stolen.
    li
      a(href='#ideas-allowed') What kind of ideas are allowed?
    li
      a(href='#picking-idea') How are ideas picked?
    p
    li
      a(href='#who') Who is this non-profit, anyway?


  section.question#language
    p
      strong What is the official language of Technion 3DS?
    .answer
      p

        | The official languages of Technion 3DS are English and Hebrew.

      p

        | Given that 3-Day Startup is an international event held
        | around the world, candidates are strongly encouraged to use
        | English during the event, but should feel free to use Hebrew
        | as well.

  section.question#what-happens
    p
      strong What happens at 3DS?
    .answer
      p

        | You and ~40 other Technion students and Haifa entrepreneurs
        | will start a technology company over the course of three
        | days. We

      ul
        li Reserve round-the-clock work space for an entire three day event;
        li Invite 40 star students with a wide range of backgrounds;
        li Cater food, drinks, snacks, and tea / coffee;
        li
          | Pick a few of the best ideas for a tech startup (often net-, web-,
          | or software-focused, due to intense time pressure) during the
          | Wednesday brainstorming session;
        li Release a minimal prototype by Thursday night;
        li Make a final business pitch and technology demo on Friday afternoon.

      p

        | The goal is to build enough momentum among a network of motivated
        | people to sustain the company beyond the event.

  section.question#what-do-i-get
    p
      strong If I participate, what do I get out of the event?
    .answer
      p

        | The worst case scenario is that you will work with brilliant people
        | from numerous disciplines toward the common goal of building real
        | companies and products. Great connections happen at 3-Day Startup:
        | cofounders meet, complimentary skill sets collide, and friends are
        | made.

      p

        | The best case scenario is that you will be a cofounder of a wildly
        | successful new tech startup.

  section.question#discipline-distribution
    p
      strong

        | How many people do you invite into the event? Which disciplines do
        | they typically come from?

    .answer
      p

        | We typically interview a few hundred applicants, and then choose the
        | 40 (+/-5) participants from that group. The participants have
        | backgrounds in a range of fields: technical, managerial / business,
        | creative, and others (historically, in decreasing percentage of
        | representation, due to practical needs of the event).

  section.question#major
    p
      strong I&#8217;m a student majoring in X. Should I even consider applying?

    .answer
      p The short answer is: yes.

      p

        | Our past participants have spanned everything from a first-year
        | undergraduate in psychology to a freshly minted PhD in Neuroscience.
        | If you&#8217;re at all passionate about startups and technology, it is
        | likely that you will be a valuable participant.

    section.question#team-application
    p
      strong We are a number of students who are a team. Can we apply as one?

    .answer
      p The short answer is: no.

      p

        | 3DS is best suited for individuals who come to form a team.
        | If you already have a team and an idea a more suitable framework is
        a(href='http://ycombinator.com/ideas.html', target='_blank')  BizTEC.
        |  Technion3DS takes in individuals and creates teams and it is best to
        | come with an open attitude to make the most of the platform and to allow
        | other to make the most of it.

  section.question#non-technion
    p
      strong Can non Technion students apply?

    .answer
      p The short answer is: yes.

      p

        | While this event is by the Technion Bronica Entrepreneurship Center
        | and is addressed at Technion students, we acknowledge that diverse
        | backgrounds and disciplines enrich the creative environment.

  section.question#schedule
    p
      strong What does the event schedule look like?

    .answer
      p A typical event might look like this:

      p Wednesday

      ul
        li Morning: meet and pitch ideas
        li Noon: announce ideas and split to groups
        li Start work!

      p Thursday

      ul
        li Customer interaction, coding, market validation, business plans, logos, etc.

      p Friday

      ul
        li 8am: breakfast &amp; continue work
        li 12pm: pitch startup(s) to panel

  section.question#accomplishment
    p
      strong How much can you really accomplish in 3 days?

    .answer
      p

        | A whole lot. The finished product of the event isn&#8217;t a
        | full-fledged revenue-generating company &#8211; it&#8217;s a team with an idea
        | and a functional prototype of a product or service, with enough
        | momentum to become a real company.

  section.question#food-and-sleep
    p
      strong What about food? Sleep?

    .answer
      p

        | Technion 3DS caters all meals, drinks, and in-between snacks
        | (pending successful sponsorship drive). Sleep is
        | optional. Participants can bring a sleeping bag, or they can
        | go home to rest.

  section.question#endpoint
    p
      strong What happens at the end of the three-day event?

    .answer
      p

        | At the conclusion of our event, participants pitch their startups to a panel
        | of local venture capitalists, angel investors, tech entrepreneurs,
        | professors, and the press. After that, they start making plans about
        | how to take their companies forward.

  section.question#how-to-get-ideas
    p
      strong How do you get good ideas for startups?

    .answer
      p We can point you toward a few resources:

      ul
        li
          a(href='https://spreadsheets.google.com/ccc?key=0AjymQZQd9doudG92SG9yRDRQb2ViNzJodXVnWWtGUVE&hl=en&authkey=CISu95AF', target='_blank') Spreadsheet with hundreds of startup ideas by many different folks
        li
          a(href='http://ycombinator.com/ideas.html', target='_blank') Y Combinator&#8217;s list of ideas they&#8217;d like to fund
        li
          a(href='http://www.paulgraham.com/ideas.html', target='_blank') Paul Graham&#8217;s article on startup ideas
        li
          a(href='http://www.sixmonthmba.com/2009/02/999ideas.html', target='_blank') Seth Godin&#8217;s Six Month MBA class 999 ideas

  section.question#selecting-idea
    p
      strong Any pointers on selecting a startup idea?

    .answer
      p

        | That&#8217;s a tough question with a long answer. Even some of the best
        | venture capitalists in the business have trouble answering that
        | question. Just check out
        a(href='http://www.bvp.com/portfolio/antiportfolio', target='_blank') Bessemer Venture Partners&#8217; anti-portfolio
        | . Probably the best advice we can give you is to check out what some
        | of the smartest people in the business have written. Two of the
        | first people you might check out are
        a(href='http://steveblank.com/about/', target='_blank') Steve Blank
        | and
        a(href='http://www.ashmaurya.com/about/', target='_blank') Ash Maurya
        | . Both of those guys also have books. One of the biggest takeaways
        | is just to talk to customers. We can also try to give some very brief
        | pointers on startup ideas:

      p Good ideas do not need to be:

      ul
        li Unique
        li Complex
        li Clever
        li First to market
        li High-technology
        li Free of competitors
        li Based on a patent
        li Something you thought of yourself

      p Good ideas probably should:

      ul
        li Address a real, observable market pain
        li Be something that you are knowledgeable about
        li Have a large, potential or existing market
        li Have possible revenue streams
        li Evoke enormous passion in you and your team!

  section.question#stolen
    p
      strong I have a great idea or invention. I&#8217;m worried about it being stolen.

    .answer
      p

        | This is a common, and reasonable, concern for 3DS participants. Our
        | past experience has shown this not to be an issue, at all.

      p

        | We believe firmly that ideas are cheap and execution is everything,
        | which is why we focus most of our attention on action. But don&#8217;t
        | just take it from us: there is broad consensus on that topic in the
        | startup community. See
        a(href='http://www.stevepavlina.com/blog/2008/05/the-value-of-ideas/', target='_blank') here
        | ,
        a(href='http://www.quora.com/Which-is-more-crucial-to-the-success-of-a-startup-the-idea-or-the-execution', target='_blank') here
        | ,
        a(href='http://www.paulgraham.com/ideas.html', target='_blank') here
        | , and
        a(href='http://sivers.org/multiply', target='_blank') here
        | for just a few examples. In short, your teammates, and the panelists
        | involved with 3DS, are in the business of making ideas happen, not
        | stealing them. It&#8217;s far more lucrative that way!

  section.question#ideas-allowed
    p
      strong What kind of ideas are allowed?

    .answer
      p

        | Ideas with scalable business models are strongly preferred. We also
        | optimize the event for ideas that will require a strong software
        | base.

      p

        | Our selection criteria for ideas are (1) your amount of passion and
        | (2) the amount of research on your own idea that you perform before
        | your interview.

  section.question#picking-idea
    p
      strong How are ideas picked?

    .answer
      p

        | Ideas will go though two stages of selection. The first selection is
        | the interview that all participants go through to get accepted into
        | a 3-Day Startup event. During the interview, we are looking for a
        | combination of skills in your area, passion, and a well-researched
        | startup idea.

      p

        | The final idea selection is during the event. It begins with the ~40
        | people forming ~8 groups of ~5 people each. The small groups
        | brainstorm and pick their favorite ideas. Then each group pitches
        | their top idea to the other groups. At the end, all participants
        | vote on the top few ideas.

  section.question#who
    p
      strong Who is this non-profit, anyway?

    .answer
      p

        | Technion 3DS is organized by
        a(href='/about/#students') student volunteers
        |  from the Technion, and overseen by a
        a(href='/about/#faculty-adviser') faculty adviser
        |  and
        a(href='/about/#steering-committee') steering committee
        | . Globally, our &#8220;parent&#8221; organization is
        a(href='http://3daystartup.org/', target='_blank') 3 Day Startup, Inc.
        | , a 501(c)(3) non-profit corporation in the United States.

      p

        | 3 Day Startup, Inc. has no shareholders, only
        a(href='http://3daystartup.org/our-team/', target='_blank') a board of directors
        | mainly composed of current and former University of Texas students.
        | These are the people who created the original 3-Day Startup event in
        | Spring of 2008. 3 Day Startup, Inc., is organized for the express
        | purpose of promoting entrepreneurship on college campuses.
