extends page

block content

  .subnav
    ul.nav.nav-pills
      li
        a(href='#when-and-where') When &amp; Where
      li
        a(href='#before') Before the Event
      li
        a(href='#begins') The Event Begins
      li
        a(href='#midst') Practicing Innovation
      li
        a(href='#pitches') Pitches and Demos
      li
        a(href='#beyond') Beyond the Event

  h1 Technion 3DS 2019 Event Info

  section.anchor#when-and-where

  table.table.table-striped
      tr
        th Date / Time
        td
          | January 1 &ndash; 4, 2019 &nbsp;&nbsp; (event starts on Tuesday,
          | Januray 1, at ~6pm, then Wednesday January 2, at ~12pm and concludes on Friday, January 4, around 2pm)
      tr
        th Venue
        td Technion, Haifa
      tr
        th Support
        td
          | Light food and drinks will be provided throughout; you bring lots of
          | energy, and your own pillows for (infrequent) naps

    p
        strong An overview of the event's schedule (in more details):

    table.table.table-striped
      tr
        th Date
        th Time
        th Activity
      tr
        td
          | Tuesday Jan 1
        td
          | ~6pm
        td
          | Gathering, briefing, idea pitching
      tr
        td
          | Wednesday Jan 2
        td
          | ~1pm-~4pm
        td
          | Idea selection, team formation, Idea assessment
      tr
        td
          | Wednesday Jan 2
        td
          | ~4pm-~7pm
        td
          | Mentor sessions
      tr
        td
          | Wednesday Jan 2
        td
          | ~7pm-very very late
        td
          | Work
      tr
        td
          | Thursday Jan 3
        td
          | 8am-very very late
        td
          | Work, meet customers, mentors
      tr
        td
          | Friday Jan 4
        td
          | 8:30-2pm
        td
          | Work on pitch and pitch to the panel


    //- .clearfix(style='margin-bottom:20px')
    //-   div(style='width:420px;float:left;margin-right:30px;text-align:center')
    //-     iframe.drop-shadow(
    //-       width='420',
    //-       height='280',
    //-       frameborder='0',
    //-       scrolling='no',
    //-       marginheight='0',
    //-       marginwidth='0',
    //-       src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.6196523223193!2d35.025052599999995!3d32.775825400000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151dba911cd57719%3A0xf43508665d02a6be!2sMeyer+Bldg%2C+The+Technion+%E2%80%93+Israel+Institute+of+Technology%2C+Haifa%2C+Israel!5e0!3m2!1sen!2s!4v1413879054057'
    //-     )
    //-     small
    //-       a(
    //-         href='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.6196523223193!2d35.025052599999995!3d32.775825400000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151dba911cd57719%3A0xf43508665d02a6be!2sMeyer+Bldg%2C+The+Technion+%E2%80%93+Israel+Institute+of+Technology%2C+Haifa%2C+Israel!5e0!3m2!1sen!2s!4v1413879054057',
    //-         target='_blank'
    //-       ) View Larger Map

    //-   div(style='width:420px;float:left;text-align:center;vertical-align:middle')
    //-     a(href='/images/meyer-building.jpg')
    //-       img.drop-shadow(src='/images/meyer-building.jpg', style='margin-bottom:10px')
    //-     small
    //-       a(
    //-         href='/images/meyer-building.jpg',
    //-         target='_blank'
    //-       ) TBD



  section.anchor#before

    h2 Before the Event: Recruiting and Workshops

    p

      | Before the event begins, we will have solicited applications from
      | across the Technion and expect to receive a few hundred
      | prospective participants from across a range of different fields
      | (often 25+). After reviewing these applications and conducting
      | interviews, the top forty or so students are invited to participate.

  section.anchor#begins

    h2 The Event Begins

    p

      | On the morning of the event, the participants arrive at the 3DS event site motivated to
      | start new technology companies: students bring pre-built technology or
      | simply an idea for a startup. These technologies and startups are
      | usually at early stages; technical feasibility and business models are
      | unproven. In the first few hours, participants discuss and evaluate
      | their business ideas in smaller groups. During this analysis phase,
      | mentors from around the community are brought in to provide their
      | insights. Later that evening, participants vote on which ideas (usually
      | 8-10) will become the focus of the event and participants decide which
      | projects they want to work on.

  section.anchor#midst

    h2 Practicing Innovation

    p

      | Fueled by free food and caffeine, the participants begin to convert
      | their abstract notions of entrepreneurship into the actual practice of
      | innovation late on Wednesday night. The participants begin to execute
      | &#8211; business students model potential revenue sources and test
      | marketing strategies, computer science students write code for
      | prototypes, designers create branding and user interfaces, and
      | everyone engages potential customers. The 3DS organizers coach
      | students as they talk to over 200 prospective customers over the
      | course of an event. Mentors roam about the event questioning
      | assumptions and helping teams move their ideas forward. Wednesday and
      | Thursday are packed with action &#8211; these days are a microcosm of
      | what it is like to run a startup, with the highs of successfully
      | creating early prototypes and the lows of discovering a better
      | positioned competitor that already dominates the market.

  section.anchor#pitches

    h2 Friday Pitches and Prototype Demos

    p

      | The ideas that have survived thus far are revealed at the pitches and
      | prototype demos on Friday noon. A panel of venture capitalists, angel
      | investors, and accomplished entrepreneurs offers feedback. The
      | presentations include functioning prototypes, beta customer responses,
      | and teams comprised of with highly skilled and motivated people. The
      | feedback is constructive and extensive: panelists ask tough questions,
      | identify strengths and weaknesses, and give candid advice for the road
      | ahead.

  section.anchor#beyond

    h2 Beyond the Event

    p

      | The 3DS event ends Friday afternoon and the students leave their 3DS
      | experience with the skills, plans, and beta products and services
      | necessary to accelerate the growth of their businesses. The benefit to
      | participants and their communities is ongoing. For those that choose
      | to start companies, 3DS provides access to a world-class network of
      | mentors that can provide advice in areas including venture capital,
      | product design, and scaling new ventures. All participants take their
      | knowledge and relationships back to their respective departments and
      | colleges, thereby extending the entrepreneurial mindset to the rest of
      | the university.
