.thru-container.footer-container
  .container
    .footer
      p &copy; #{ new Date().getFullYear() }, Technion 3DS | 3-Day Startup - Learning by Doing
      p
        a(href='http://3daystartup.org/', target='_blank') Global 3DS Website
      
